/* .chart-container {
    border: 1px solid red;
    padding: 20px;
    width: 90%;
    margin: auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */

.home-chart__container {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}

.chart-container {
  border: 1px solid red;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 70vh;
}
