.category-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px 0 0 4px;
  padding: 4px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 15%;
  transition: 0.5s ease;
}

.category-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-title {
  font-size: 12px;
}
