.dashboard-container {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--light);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.dashboard-content {
    width: 100%;
    overflow: scroll;
}

.dashboard-content::-webkit-scrollbar {
    display: none;
  }