.crypto-container {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.crypto-container > div {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 30px;
}

.crypto-carousel {
  cursor: grab;
}

.crypto-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.crypto-bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
}

.crypto-list,
.crypto-summary {
  width: 48%;
  border: 1px solid red;
}
